# Dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*
!.env.example

# Build output
dist/
build/

# macOS
.DS_Store

# Prisma
server/prisma/*.db

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
